:root {
  --clr: #14172B;
  --bg-color: #14172B;
  --border-color-gradient-top: #ECF0FF1A;
  --border-color-gradient-bottom: #3B3F5700;
  --outer-bg-gradient-top: #626A881A;
  --outer-bg-gradient-bottom: #2E31491A;
  --outer-border-radius: 20px; 
  --inner-border-radius: 20px;
  --left-curve-offset-x: -26px; 
  --left-curve-offset-y: 54%; 
  --right-curve-offset-x: -26px; 
  --right-curve-offset-y: 54%; 
  --shadow-offset: -10px;
  --logo-bg-gradient-top: #626A881A;
  --logo-bg-gradient-bottom: #EAB3000F;
  --bitcoin-bg-gradient-top: #626A881A;
  --bitcoin-bg-gradient-bottom: #EAB3000F;


  --container-padding: 40px;
}

body {
  background-color: var(--bg-color);
  margin: 40px;
}

.currencyName { 
  font-family: 'Tomorrow';
}

/* create a reactangular div with a curve at the top */

.circularLogoContainer {
  height: 60px;
  width: 20%;
  background-color: transparent;
  position: absolute;
  margin: 40px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: Fix background position */
.circularLogoBg {
  background-color: var(--clr);
  z-index: 999;
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  border-radius: 50%;
  transform: translate(0%, -40%);
}

.circularLogo {
  background: linear-gradient(to bottom, var(--bitcoin-bg-gradient-top), var(--bitcoin-bg-gradient-bottom));
  border-radius: 50%;
  border: 10px solid var(--clr);
  padding: 12px;
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  z-index: 1000;
  transform: translate(0%, -40%);
}

.bitcoinLogoImage {
  width: 40px;
  height: 40px;
}

.circularLogo::before {
  content: '';
  position: absolute; 
  top: var(--left-curve-offset-y);
  left: var(--left-curve-offset-x);
  /* width, height = border radius */
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: var(--inner-border-radius);
  box-shadow: 0px var(--shadow-offset) 0 0 var(--clr);
}

.circularLogo::after {
  content: '';
  position: absolute; 
  top: var(--right-curve-offset-y);
  right: var(--right-curve-offset-x);
  /* width, height = border radius */
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: var(--inner-border-radius);
  box-shadow: 0px var(--shadow-offset) 0 0 var(--clr);
}

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px inset;
  border-image: linear-gradient(to bottom, var(--border-color-gradient-top), var(--border-color-gradient-bottom));
  border-radius: var(--outer-border-radius);
  padding: 20px 30px;
  height: 225px;
  background: linear-gradient(to bottom, var(--outer-bg-gradient-top), var(--outer-bg-gradient-bottom)) padding-box;
}


/* ------------------------------------------------- */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--container-padding);
}

.card {
  position: relative; 
  width: 320px;
  height: 450px;
  background: linear-gradient(to bottom, var(--outer-bg-gradient-top), var(--outer-bg-gradient-bottom));
  margin: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  position: relative;
  width: 8.75rem;
  height: 8.75rem;
  background: var(--clr);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transform: translateY(-40%);
}

.icon::before {
  content: '';
  position: absolute;
  top: 40%;
  left: -2.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border-top-right-radius: 2.5rem;
  box-shadow: 15px -15px 0 15px var(--clr);
}

.icon::after {
  content: '';
  position: absolute;
  top: 40%;
  right: -2.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border-top-left-radius: 2.5rem;
  box-shadow: -15px -15px 0 15px var(--clr);
}