.outerContainer {
  position: absolute;
  height: 225px;
  width: 100%;
  margin: 40px;
}

/* create a reactangular div with a curve at the top */

.circularLogoContainer {
  height: 60px;
  width: 20%;
  background-color: transparent;
  position: absolute;
  margin: 40px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circularLogo {
  height: 60px;
  width: 60px;
  background: transparent;
  border-radius: 50%;
  border: 10px solid #FFFFFF;
  position: absolute;
  margin: 40px;
  z-index: 1000;
  transform: translate(0%, -40%);
}

.outerContainer::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 10%;
  width: 20%;
  height: 100%;
  background-color: blue;
}

.outerContainer::after {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}